.command {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    color: black;
}

.label {
    padding: 0 8px;
    text-align: left;
    font-size: 12px;
    width: calc(100% - 40px);
}
