.form {
    padding: 16px;
    width: 350px;
}

.flex {
    display: flex;
}

.submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
