#beacon-root {
  width: 350px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
    border-radius: 10px;
    border: 1px solid gray;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 300px;
    background: white;
    z-index: 9999999999999999;
}

.label {
  text-align: left;
  background: pink;
  padding: 8px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: move;
}
