#beacon-root {
  width: 350px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
    border-radius: 10px;
    border: 1px solid gray;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 300px;
    background: white;
    z-index: 9999999999999999;
}

.label {
  padding: 2px 4px;
}

.center {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: pink;
  cursor: move;
  padding: 8px;
  color: white;
}
